/* Body CSS */
body{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)  
}
/* App CSS */
.spacer{margin-top: 10px; margin-bottom: 10px;}
.center-align{text-align: center;}
.logo{width: 150px;}
.logo-text{font-family: 'Courier New', Courier, monospace !important; font-size: 50px;}